.lead__image {
  position: absolute;
  max-width: 1440px;
  object-position: 50% 50%;
  width: 1440px;
  top: -80px;
}

@media screen and (max-width: 767px) {
  .lead__image {
    top: 0px;
    left: calc((100vw - 804px)/2);
    max-height: 536px;
    width: 804px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1439px) {
  .lead__image {
    top: -66px;
    object-position: 50% -70px;
    max-width: 100%;
    min-height: 576px;
  }
}

@media screen and (min-width: 1440px) {
  .lead__image {
    top: -56px;
    object-position: 50% -135px;
  }
}

