.lead__image {
  position: absolute;
  z-index: -1;
  max-width: 1440px;
  object-fit: none;
  object-position: 50% 50%;
  max-height: 576px;
  width: 100%;
}

@media screen and (max-width: 767px) {
  .lead__image {
    width: auto;
    max-height: 536px;
    object-fit: fill;
    object-position: 50% 100%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1439px) {
  .lead__image {
    max-height: 400px;
  }
}

@media screen and (min-width: 1440px) {
  .lead__image {
    object-position: 50% -190px;
  }
}

