.lead__image {
  position: absolute;
  left: -104px;
  z-index: -1;
  max-width: 1440px;
}

@media screen and (max-width: 767px) {
  .lead__image {
    left: -16px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .lead__image {
    left: -40px;
  }
}

@media screen and (min-width: 1024px) {
  .lead__image {
  }
}

