@import url(./__title/articles__title.css);
@import url(./__container/articles__container.css);
@import url(./__show-more-btn/articles__show-more-btn.css);
@import url(./__show-more-btn/_visible/articles__show-more-btn_visible.css);

.articles {
  background-color: var(--gray-bg-articles);
  padding: 0 104px;
  width: 100%;
  max-width: 1440px;
  display: none;
  font-family: 'Roboto', 'Inter', sans-serif;
}

@media screen and (max-width: 767px) {
  .articles {
    padding: 0 16px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1439px) {
  .articles {
    padding: 0 40px;
  }
}

@media screen and (min-width: 1440px) {
  .articles {
  }
}
