

.popup__validate-alert {
  margin: 0;
  margin-bottom: 13px;
  padding: 0;

  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;

  color: red;
  visibility: visible;
}


.popup__validate-alert:last-of-type {
  margin-bottom: 0;
}
