.header__navbar-item_active-page {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 3px solid white;
  border-color: inherit;
  height: 100%;
}

.header__navbar-item_active-page:active {
  opacity: 0.7;
}