.popup__input {
  width: 100%;
  height: 25px;
  border: 0;
  margin: 0;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  font-family: 'Inter', 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 17px;
  box-sizing: border-box;
  margin-bottom: 3px;
  padding: 0 0 5px;
  outline: none;
  caret-color: var(--main-blue);
}


.popup__input:focus {
  border-bottom: 1px solid black;
}