.info__title {
  font-size: 40px;
  line-height: 46px;
  margin: 28px 0 30px;
  max-width: 450px;
}

@media screen and (max-width: 767px) {
  .info__title {
    font-size: 30px;
    line-height: 34px;
    margin: 16px 0 16px;
    max-width: 320px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1439px) {
  .info__title {
    font-size: 30px;
    line-height: 34px;
    margin: 16px 0 16px;
    max-width: 350px;
  }
}

@media screen and (min-width: 1440px) {
  .info__title {
  }
}