.lead__button {
  margin: 0;
  border: 0;
  background-color: var(--main-blue);
  z-index: 1;
  height: 100%;

  width: 168px;
  height: 64px;
}

@media screen and (max-width: 767px) {
  .lead__button {
    font-size: 18px;
    line-height: 24px;
    width: 100%;
    height: 56px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1439px) {
  .lead__button {
    font-size: 18px;
    line-height: 24px;
    width: 160px;
    height: 56px;
  }
}

@media screen and (min-width: 1440px) {
  .lead__button {
  }

}