.footer__links-container {
  margin: 0;
  display: flex;
  margin-right: 45px;
}

.footer__links-container:last-of-type {
  margin-right: 0;
}

@media screen and (max-width: 767px) {
  .footer__links-container {
    flex-direction: column;
  }
}

@media screen and (min-width: 768px) and (max-width: 1439px) {
  .footer__links-container {
  }
}

@media screen and (min-width: 1440px) {
  .footer__links-container {
  }
}
