.popup__content_type_image {
  padding: 0;
  border-radius: 0;
  width: auto;
  height: auto;
  min-height: 0;
  
  display: block;
  background: transparent;
  position: relative;
  box-sizing: border-box;
}
