.popup__other-auth-btn {
  display: inline;
  border: none;
  margin: 0;
  padding: 0;
  font-family: 'Inter', 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 17px;
  font-weight: normal;
  font-style: normal;
  background-color: var(--main-white);
  color: var(--main-blue);
  cursor: pointer;
}