.lead__title {
  font-family: 'Roboto Slab', 'Inter', sans-serif;
  font-size: 60px;
  font-style: normal;
  font-weight: normal;
  line-height: 64px;
  margin: 0 0 32px;

  max-width: 350px;
}


@media screen and (max-width: 767px) {
  .lead__title {
    font-size: 36px;
    line-height: 40px;

    margin: 0 0 16px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1439px) {
  .lead__title {
    font-size: 36px;
    line-height: 40px;

    margin: 0 0 16px;
  }
}

@media screen and (min-width: 1440px) {
  .lead__title {
  }

}