.header_type_mobile {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0 16px;
  width: calc(100% - 32px);
}

@media screen and (max-width: 767px) {
   .header_type_mobile {
    display: flex;
  }
}
