.article__image {
  object-fit: cover;
  width: 100%;
  max-height: 272px;
}

@media screen and (max-width: 767px) {
  .article__image {
    max-height: 196px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1439px) {
  .article__image {
    max-height: 150px;
  }
}

@media screen and (min-width: 1440px) {
  .article__image {
  }
}
