.popup__button {
  width: 100%;
  height: 64px;
  border: none;
  background-color: var(--main-blue);

  color: var(--main-white);

  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
}

