.lead__input {
  padding: 0;
  border: 0;
  border-radius: 100px;
  position: absolute;
  left: 0;
  height: 100%;
  width: 95%;
}

@media screen and (max-width: 767px) {
  .lead__input {
    font-size: 18px;
    line-height: 24px;
    position: relative;
    width: 100%;
    height: 56px;
    margin-bottom: 16px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1439px) {
  .lead__input {
    font-size: 18px;
    line-height: 24px;
  }
}

@media screen and (min-width: 1440px) {
  .lead__input {
  }

}