@import url(./__button/article__button.css);
@import url(./__image/article__image.css);
@import url(./__date/article__date.css);
@import url(./__title/article__title.css);
@import url(./__source/article__source.css);
@import url(./__text/article__text.css);
@import url(./__content/article__content.css);
@import url(./__options-bar/article_options-bar.css);
@import url(./__save-options/article__save-options.css);
@import url(./__button/_type/article__button_type_options.css);
@import url(./__button/_type/article__button_type_toggle-save.css);
@import url(./__keyword/article__keyword.css);
@import url(./__save-hint/article__save-hint.css);
@import url(./__save-hint/_visible/article__save-hint_visible.css);
@import url(./__bookmark-icon/article__bookmark-icon.css);


.article {
  position: relative;
  max-width: 400px;
  border-radius: 15px;
  overflow: hidden;
  background-color: var(--main-white);
  display: none;
  align-self: center;
  justify-self: center;
}

@media screen and (max-width: 767px) {
  .article {
    min-width: 288px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1439px) {
  .article {
    min-width: 224px;
    max-width: 300px;
  }
}

@media screen and (min-width: 1440px) {
  .article {
  }
}


.article:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.05), 0 10px 10px rgba(0,0,0,0.02);
}