

.popup__validate-alert {
  margin: 0;
  margin-bottom: 24px;
  padding-left: 6px;

  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;

  color: red;
  visibility: hidden;
}


.popup__validate-alert:last-of-type {
  margin-bottom: 0;
}
