.article__options-bar {
  position: absolute;
  top: 24px;
  left: 24px;
  width: calc(100% - 48px);
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  height: 40px;

  z-index: 1;
}