.popup__button_disabled {
  width: 100%;
  background-color: var(--gray-btn-locked);
  color: var(--main-gray);
}

.popup__button_disabled:hover {
  background-color: var(--gray-btn-locked);
  cursor: initial;
}