@import url(./__image/lead__image.css);
@import url(./__title/lead__title.css);
@import url(./__input/lead__input.css);
@import url(./__button/lead__button.css);
@import url(./__description/lead__description.css);
@import url(./__find-form/lead__find-form.css);

.lead {
  position: relative;
  margin: 0;
  padding-top: 80px;
  max-width: 608px;
  display: flex;
  flex-direction: column;
  align-content: center;
  color: white;
  z-index: -1;
}

@media screen and (max-width: 767px) {
  .lead {
    padding-top: 56px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .lead {
    padding-top: 66px;
  }
}

@media screen and (min-width: 1024px) {
  .lead {
  }
}
