@import url(./__image/lead__image.css);
@import url(./__title/lead__title.css);
@import url(./__input/lead__input.css);
@import url(./__button/lead__button.css);
@import url(./__description/lead__description.css);
@import url(./__find-form/lead__find-form.css);
@import url(./__content/lead__content.css);

.lead {
  position: relative;
  margin: 0;
  padding-top: 80px;
  display: flex;
  flex-direction: column;
  align-content: center;
  overflow: hidden;
  color: var(--main-white);
  width: calc(100% + 208px);
}

@media screen and (max-width: 767px) {
  .lead {
    padding-top: 56px;
    width: calc(100% + 32px);
  }
}

@media screen and (min-width: 768px) and (max-width: 1439px) {
  .lead {
    padding-top: 66px;
    width: calc(100% + 80px);
  }
}

@media screen and (min-width: 1440px) {
  .lead {
  }
}
