@import url(./blocks/button/button.css);
@import url(./blocks/button/_type/button_type_mobile-menu.css);
@import url(./vendor/fonts.css);
@import url(./blocks/header/header.css);
@import url(./blocks/header/_type/header_type_mobile.css);
@import url(./blocks/header/_type/header_type_desktop.css);
@import url(./blocks/lead/lead.css);
@import url(./blocks/content/content.css);
@import url(./blocks/about/about.css);
@import url(./blocks/footer/footer.css);


body {
  margin: 0;
}

.page {
  margin: 0 auto;
  overflow: hidden;
  max-width: 1440px;
}



