.about__photo {
  max-width: 464px;
  object-fit: contain;
  margin: 0;
}

@media screen and (max-width: 767px) {
  .about__photo {
    max-width: 300px;
    width: 94%;
    margin: 0 auto 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 1439px) {
  .about__photo {
    width: 30%;
    max-width: 463px;
  }
}

@media screen and (min-width: 1440px) {
  .about__photo {
  }

}