.button_theme_black {
  border: 1px solid var(--main-black);
  color: var(--main-black);
}


.button_theme_black:hover {
  background-color: transparent;
  opacity: 0.9;
}

.button_theme_black:active {
  background-color: transparent;
  opacity: 0.7;
}
