.button_theme_white {
  border: 1px solid var(--main-white);
  color: var(--main-white);
}

.button_theme_white:hover {
  opacity: 0.9;
  background-color: transparent;
}

.button_theme_white:active {
  opacity: 0.7;
  background-color: transparent;
}


