.lead__find-form {
  position: relative;
  margin: 64px 0 0;
  display: flex;
  flex-direction: row-reverse;
  height: 64px;
  width: 100%;
}

@media screen and (max-width: 767px) {
  .lead__find-form {
    flex-direction: column;
    margin: 43% 0 0;
    height: 100%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1439px) {
  .lead__find-form {
    font-size: 36px;
    line-height: 40px;
    max-height: 56px;
  }
}

@media screen and (min-width: 1440px) {
  .lead__find-form {
  }

}