.about__title {
  margin: 0 0 24px;
  font-size: 40px;
  line-height: 46px;
  font-weight: normal;
}

@media screen and (max-width: 767px) {
  .about__title {
    font-size: 30px;
    line-height: 40px;

    margin: 0 0 16px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1439px) {
  .about__title {
    font-size: 30px;
    line-height: 40px;

    margin: 0 0 16px;
  }
}

@media screen and (min-width: 1440px) {
  .about__title {
  }

}