.articles__container {
  margin: 64px 0 62px;
  display: grid;
  grid-gap: 16px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  align-items: center;
  justify-content: center;
}


@media screen and (max-width: 767px) {
  .articles__container {
    margin: 32px 0 22px;
    grid-template-columns: 1fr;
    grid-column-gap: 0;
    grid-row-gap: 10px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1439px) {
  .articles__container {
    margin: 24px 0 15px;
    grid-gap: 8px;
  }
}

@media screen and (min-width: 1440px) {
  .articles__container {
  }
}
