
.header__navbar-item {
  display: flex;
  text-decoration: none;
  color: var(--main-white);
  background-color: transparent;
  margin: auto 32px auto 0;
  justify-content: center;
  display: none;
}

.header__navbar-item_inactive-page {
  border-bottom: none;
  color: var(--main-gray);
}

.header__navbar-item_active-page {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 3px solid white;
  height: 100%;
}

.header__navbar-item:last-of-type {
  margin-right: 0;
}