
.header__navbar-item {
  display: flex;
  text-decoration: none;
  color: inherit;
  background-color: transparent;
  margin: auto 32px auto 0;
  justify-content: center;
  display: none;
}


.header__navbar-item:hover {
  background-color: transparent;
  opacity: 0.9;
}

.header__navbar-item:active {
  background-color: transparent;
  opacity: 0.7;
}