@import url(./__info/about__info.css);
@import url(./__title/about__title.css);
@import url(./__text/about__text.css);
@import url(./__photo/about__photo.css);

.about {
  overflow: hidden;
  width: 100%;
  background-color: white;
  z-index: 1;
  display: flex;
  margin: 80px 0;

  color: #1a1b22;
  font-size: 18px;
  line-height: 24px;
  font-weight: normal;
  font-style: normal;
}

@media screen and (max-width: 767px) {
  .about {
    flex-direction: column;
    margin: 32px 0 80px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1439px) {
  .about {
    margin: 40px 0 72px;
  }
}

@media screen and (min-width: 1440px) {
  .about {
  }

}